<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
	    <add key="PasswordAdmin" value="Sentek.vn" />
	    <add key="SideSlip_Counter" value="Hyundai.OCS10.Counter_SS" />
	    <add key="SideSlip_Result" value="Hyundai.OCS10.Align_Front_Result" />
	    <add key="SideSlip_Sign" value="Hyundai.OCS10.Align_Front_Sign" />
	    <add key="Speed_Counter" value="Hyundai.OCS10.Counter_Speed" />
	    <add key="Speed_Result" value="Hyundai.OCS10.Speed_Result" />
	    <add key="BrakeF_Counter" value="Hyundai.OCS10.Counter_BrakeF" />
		<add key="BrakeR_Counter" value="Hyundai.OCS10.Counter_BrakeR" />
		<add key="BrakeH_Counter" value="Hyundai.OCS10.Counter_BrakeH" />
		<add key="Headlights_Counter" value="Hyundai.OCS10.Counter_Headlight" />
		<add key="Steering_Counter" value="Hyundai.OCS10.Counter_Goclai" />
		<add key="Whistle_Counter" value="Hyundai.OCS10.Counter_Buzzer" />
	    <add key="Front_LBrake_Result" value="Hyundai.OCS10.BrakeL_Front_Result" />
	    <add key="Front_RBrake_Result" value="Hyundai.OCS10.BrakeR_Front_Result" />
	    <add key="Rear_LBrake_Result" value="Hyundai.OCS10.BrakeL_Rear_Result" />
	    <add key="Rear_RBrake_Result" value="Hyundai.OCS10.BrakeR_Rear_Result" />
	    <add key="Hand_LBrake_Result" value="Hyundai.OCS10.BrakeL_Hand_Result" />
	    <add key="Hand_RBrake_Result" value="Hyundai.OCS10.BrakeR_Hand_Result" />
	    <add key="Calib_SS" value="Hyundai.OCS10.AI_Align" />
	    <add key="Calib_LBrake" value="Hyundai.OCS10.AI_BrakeL" />
	    <add key="Calib_RBrake" value="Hyundai.OCS10.AI_BrakeR" />
	    <add key="Calib_Speed" value="Hyundai.OCS10.HSC_Speed" />
		<add key="Calib_WeightL" value="Hyundai.OCS10.AI_WeightL" />
		<add key="Calib_WeightR" value="Hyundai.OCS10.AI_WeightR" />
		<add key="Calib_SteerL" value="Hyundai.OCS10.AI_GocLaiL" />
		<add key="Calib_SteerR" value="Hyundai.OCS10.AI_GocLaiR" />
		<add key="COM_PetrolEmission" value="COM2" />
		<add key="COM_DieselEmission" value="COM2" />
		<add key="COM_Headlights" value="COM2" />
		<add key="COM_Whistle" value="COM3" />
	</appSettings>
    <connectionStrings>
		<!--<add name="SenAISDBConnectionString" connectionString="Server=192.168.1.19,1433;Database=SenAISDB;User Id=sa;Password=19021998;" providerName="System.Data.SqlClient" />-->
	    <add name="SenAISDBConnectionString" connectionString="Server=localhost,1433;Database=SenAISDB;User Id=sa;Password=19021998;" providerName="System.Data.SqlClient" />
    </connectionStrings>
	<system.windows.forms jitDebugging="true" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>