<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
	    <add key="PasswordAdmin" value="Sentek.vn" />
	    <add key="SideSlip_Counter" value="Hyundai.OCS10.Counter_SS" />
	    <add key="SideSlip_Result" value="Hyundai.OCS10.Align_Front_Result" />
	    <add key="SideSlip_Sign" value="Hyundai.OCS10.Align_Front_Sign" />
		<add key="SideSlip_Result" value="Hyundai.OCS10.Align_Front_Result" />
		<add key="SideSlip_Sign" value="Hyundai.OCS10.Align_Front_Sign" />
		<add key="SideSlip2_Result" value="Hyundai.OCS10.Align_Rear_Result" />
		<add key="SideSlip2_Sign" value="Hyundai.OCS10.Align_Rear_Sign" />
	    <add key="Speed_Counter" value="Hyundai.OCS10.Counter_Speed" />
	    <add key="Speed_Result" value="Hyundai.OCS10.Speed_Result" />
	    <add key="BrakeF_Counter" value="Hyundai.OCS10.Counter_BrakeF" />
		<add key="BrakeR_Counter" value="Hyundai.OCS10.Counter_BrakeR" />
		<add key="BrakeH_Counter" value="Hyundai.OCS10.Counter_BrakeH" />
		<add key="Headlights_Counter" value="Hyundai.OCS10.Counter_Headlight" />
		<add key="Steering_Counter" value="Hyundai.OCS10.Counter_Goclai" />
		<add key="Whistle_Counter" value="Hyundai.OCS10.Counter_Buzzer" />
		<add key="Weight_Counter" value="Hyundai.OCS10.Counter_Weight" />
	    <add key="Front_LBrake_Result" value="Hyundai.OCS10.BrakeL_Front_Result" />
	    <add key="Front_RBrake_Result" value="Hyundai.OCS10.BrakeR_Front_Result" />
	    <add key="Rear_LBrake_Result" value="Hyundai.OCS10.BrakeL_Rear_Result" />
	    <add key="Rear_RBrake_Result" value="Hyundai.OCS10.BrakeR_Rear_Result" />
	    <add key="Hand_LBrake_Result" value="Hyundai.OCS10.BrakeL_Hand_Result" />
	    <add key="Hand_RBrake_Result" value="Hyundai.OCS10.BrakeR_Hand_Result" />
		<add key="Front_LWeight_Result" value="Hyundai.OCS10.WeightL_Front_Result" />
		<add key="Front_RWeight_Result" value="Hyundai.OCS10.WeightR_Front_Result" />
		<add key="Rear_LWeight_Result" value="Hyundai.OCS10.WeightL_Rear_Result" />
		<add key="Rear_RWeight_Result" value="Hyundai.OCS10.WeightR_Rear_Result" />
		<add key="LeftSteer_Result" value="Hyundai.OCS10.DiskL_Deg" />
		<add key="RightSteer_Result" value="Hyundai.OCS10.DiskR_Deg" />
		<add key="TurnLeft_Steer" value="Hyundai.OCS10.GL TurnLeft" />
		<add key="TurnRight_Steer" value="Hyundai.OCS10.GL TurnRight" />
		<add key="GL_Pos1" value="Hyundai.OCS10.GL_PosIn2_Bit" />
		<add key="GL_Pos2" value="Hyundai.OCS10.GL_PosIn1_Bit" />
		<add key="GL_PosTest" value="Hyundai.OCS10.GL_PosTest_Bit" />
		<add key="LeftSteerLW_Result" value="Hyundai.OCS10.DiskL_Deg_LeftMax" />
		<add key="RightSteerLW_Result" value="Hyundai.OCS10.DiskL_Deg_RightMax" />
		<add key="LeftSteerRW_Result" value="Hyundai.OCS10.DiskR_Deg_LeftMax" />
		<add key="RightSteerRW_Result" value="Hyundai.OCS10.DiskR_Deg_RightMax" />
		<add key="HL_LeftSen" value="Hyundai.OCS10.Headlight_PosIn_Bit" />
		<add key="HL_RightSen" value="Hyundai.OCS10.Headlight_PosOut_Bit" />
	    <add key="Calib_SS" value="Hyundai.OCS10.AI_Align" />
	    <add key="Calib_LBrake" value="Hyundai.OCS10.AI_BrakeL" />
	    <add key="Calib_RBrake" value="Hyundai.OCS10.AI_BrakeR" />
	    <add key="Calib_Speed" value="Hyundai.OCS10.HSC_Speed" />
		<add key="Calib_WeightL" value="Hyundai.OCS10.AI_WeightL" />
		<add key="Calib_WeightR" value="Hyundai.OCS10.AI_WeightR" />
		<add key="Calib_SteerL" value="Hyundai.OCS10.AI_GocLaiL" />
		<add key="Calib_SteerR" value="Hyundai.OCS10.AI_GocLaiR" />
		<add key="COM_PetrolEmission" value="COM7" />
		<add key="COM_DieselEmission" value="COM7" />
		<add key="COM_Headlights" value="COM3" />
		<add key="COM_Whistle" value="COM4" />
		<add key="COM_Noise" value="COM7" />
		<add key="PublishSeri" value="ST.19 - TT 02/KQKT" />
		<add key="PublishVer" value="Lần ban hành: 01" />
		<add key="PublishDate" value="Ngày ban hành: 19/02/2025" />	
	</appSettings>
    <connectionStrings>
	    <add name="SenAISDBConnectionString" connectionString="Server=192.168.1.19,1433;Database=SenAISDB;User Id=sa;Password=19021998;" providerName="System.Data.SqlClient" />
    </connectionStrings>
	<system.windows.forms jitDebugging="true" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>